.card-image{
    width:50%
}

.card-container{
    width:80%;
    margin: 5% 10% 0%
}

div.col{
    overflow-x: hidden;
}

.update-value-div{
    text-align: center;
}

.update-value-button-left{
    margin:2% 10%
}

.update-value-button-right{
    margin:2% 10%
}