.path{
    color:black;
    font-size: medium;
    text-decoration: none;
    margin: 0px 15px;
 
}
.fa-cocktail{
    transform: rotate(15deg);
}

#responsive-navbar-nav{
    justify-content: flex-end;

}
nav{
    height:20%;
    width:100vw
}
.title-nav{
    font-weight: 500;
}
