#cocktail-name{
    font-weight: 600;
    font-size:x-large;
    text-align: center;
}
#cocktail-instructions{
    font-style: italic;
    text-align: center;
    margin: 1% 25%;
}
#search-bar{
    text-align: right;
    margin: 1%;
}
#user-cocktail-name{
    margin-right:.5%;
    width:33%
}
img{
    max-height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.measurements-and-ingredients{
    margin:1% 10%;
    text-align: center;
    font-size: small;
    line-height: 0%;
}
.ingredients-title{
    text-align: center;
}